<!DOCTYPE html>
<html>
<head>
  <title>Flask Boggle</title>
  <link rel="stylesheet" href="/static/app.css">
</head>
<body>
  <div id="boggle">
    <h1>Flask Boggle</h1>
    
    <table class="board">
      <tbody>
        {% for row in board %}
        <tr>
          {% for cell in row %}
          <td>{{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>  

    <p>High Score: 
      <b>{{ highscore }}</b> 
      in {{ numplays }} plays
    </p>

    <p>
      Score: <b class="score">0</b>
      Seconds Left: <b class="timer"></b>
    </p>

    <form class="add-word" method="POST">
      <label for="word">Enter words here:</label>
      <input type="text" class="word" name="word">
      <button>Submit</button>
    </form>

    <p class="msg">
      <!-- our JS will put messages here dynamically -->
    </p>

    <ul class="words">
      <!-- our JS will words here as they score -->   
    </ul>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="/static/boggle.js"></script>
  <script>
    let game = new BoggleGame("boggle", 60);
  </script>
</body>
</html>